@import '../../assets/scss/smart-grid';

.clients {
    width: 100%;
    padding: 40px;
    

    .title-primary {
        margin-bottom: auto;
    }

    .row {
        justify-content: space-around;
        margin: 150px 0;
    }

    .img {
        @include col();
        @include size(8);
        @include size-sm(12);
        @include size-xs(24);

        text-align: center;
        margin-bottom: 30px;
    }
}

